html {
    box-sizing: border-box;
    background-color: #ebdccb;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    z-index: 1;
}

body {
    margin: 0;
    min-width: 465px;
}

img {
    display: block;
    margin: auto;
}

p {
    font-size: larger;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gaegu-bold {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1,
h2,
h3 {
    font-family: "DynaPuff", system-ui;

}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 550;
    font-size: 2.5em;
    color: #341F3B;
    padding-bottom: 0;
    margin: .5em 0 0 .2em;

}

h3 {
    font-weight: 400;
    color: #9e7682;
    margin: .2em 0 0 .5em;
}

p,
li {
    font-family: "Gaegu", system-ui;
    font-weight: 700;
    margin: .2em 0;
}

p {
    padding: .5em;
}



#whatabknit {
    font-size: 30px;
    color: #341F3B;
    padding: .3em 0 0 .2em;
}

.shortened {
    display: block;
}

.unshortened {
    display: none;
}

#navbar {
    font-size: 5vw;
    justify-self: stretch;
    background-color: #341F3B;
    margin: -1em 0 0 0;
    padding: 1.3rem 2rem;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0px 3px 3px rgba(52, 31, 59, .25);
    display: flex;
}



#navbar li {
    list-style: none;
}

#navbar li :link,
#navbar li :visited {
    color: #ebdccb;
}

#navbar li :focus,
#navbar li :hover,
#navbar li :active {
    color: #faf8d4;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    max-width: 1000px;
    justify-items: stretch;
}

#greyyarn {
    max-width: 466px;
    margin: 0;
    background-color: aliceblue;
    opacity: 0.8;
}

#k,
#a,
#y,
#c,
#r,
#o,
#c2,
#h,
#e,
#t,
#s,
#exc {
    position: absolute;
    transform: translate(-.5em, 1em);
    font-size: 1.5em;
    color: #341F3B;
    filter: drop-shadow(3px 3px rgba(52, 31, 59, .3));
}

#a,
#c,
#o,
#h,
#t,
#exc {
    color: #9e7682;
    filter: drop-shadow(3px 3px rgba(52, 31, 59, .5));
    z-index: 4;

}

#k {
    left: .5em;
}

#a {
    left: 1.05em;
}

#y {
    left: 1.6em;
}

#c {
    left: 2.6em;
}

#r {
    left: 3.1em;
}

#o {
    left: 3.65em;
}

#c2 {
    left: 4.15em;
}

#h {
    left: 4.75em;
}

#e {
    left: 5.25em;
}

#t {
    left: 5.75em;
}

#s {
    left: 6.25em;
}

#exc {
    left: 6.8em;
}

.purple {
    color: #341F3B;
    z-index: 5;
}

.cream {
    color: #ebdccb;
}

#bestyarn {
    margin: 1em;
    margin-top: 0;
    background-color: #341F3B;
}

#bestyarn h2 {
    color: #9e7682;
    padding: .2em;
}

#bestyarn p {
    color: #ebdccb;
    padding-left: 1em;
    padding-right: 1em;
}

#knitsweater {
    width: 50vw;
    display: block;
    margin: 1em;
    border: #ebdccb solid 3px;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

ul img {
    width: 50vw;
    margin: .5em 0;
    margin-right: .5em;
    border: 3px solid #341F3B;
    box-shadow: 10px 10px #605770;
    aspect-ratio: 1/1;

}

#project1 img {
    aspect-ratio: 9/5;
}

ul li {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

ul li div {
    align-self: center;
    padding-left: .5em;
    margin-top: .7em;
}

hr {
    border: none;
    height: 10px;
    background-color: #341F3B;
    margin-top: 0;
}

#cathat {
    order: 2;
    max-width: 75vw;
}

#purple {
    background-color: #9e7682;
    grid-area: knit;
}

#purple p {
    padding: .9em;
}

#cathatandtext {
    display: flex;
    flex-direction: column;
    grid-area: cathat;
}

#bigimg {
    grid-area: greyyarn;
}

#intro {
    grid-area: intro;
    margin-top: 1em;
}

#favprojects {
    grid-area: projects;
}

#personal {
    font-weight: 900;
    color: #341F3B;
}

#intro h2 {
    margin-top: 0;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between
}


/* 466PX SCREEN */

@media screen and (min-width: 466px) {
    ul img {
        width: 40vw;
    }

    #greyyarn {
        max-width: 100vw;
        margin: -2.5em;
        background-color: aliceblue;
        opacity: 0.8;
    }

    #intro {
        margin-top: 1.5em;
    }

    #intro h2 {
        margin: .5em 0 0 .2em;
    }

    #k,
    #a,
    #y,
    #c,
    #r,
    #o,
    #c2,
    #h,
    #e,
    #t,
    #s,
    #exc {
        font-size: 9vw;
    }
}


/* 600PX SCREEN */

@media screen and (min-width: 600px) {
    ul li {
        font-size: 20px;
    }

    #navbar {
        font-size: 3vw;
        padding: 1.5rem 2rem;
    }

    #navbar li {
        width: auto;
    }

    #greyyarn {
        margin-top: -1em;
        margin-left: -2.5em;
    }

    .bigimg h1 {
        display: block;
    }

    .shortened {
        display: none;
    }

    .unshortened {
        display: block;
    }
}

/* 800PX SCREEN */

@media screen and (min-width: 800px) {

    * {
        margin: 0;
    }

    #greyyarn {
        width: 67vw;
        margin-left: 0;
    }


    #knitsweater {
        width: 30vw;
        max-width: 300px;
        float: none;
        order: 2;
    }


    #cathatandtext {
        display: block;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #wrapper {
        position: relative;
        padding-top: 55px;
        width: 100vw;
        display: grid;
        grid-template-areas: "greyyarn greyyarn greyyarn knit"
            "intro intro intro knit"
            "projects projects projects projects";
        grid-template-columns: 25vw 25vw 15vw 35vw;
        grid-template-rows: auto auto auto;
        overflow-x: hidden;
        justify-self: center;
    }

    #bestyarn {
        order: 2;
        width: 75vw;
        justify-self: right;
    }

    #bestyarn h2 {
        padding-top: .7em;
    }

    #intro {
        padding: .5em;
    }

    #favprojects h2 {
        padding-left: .5em;
        padding-bottom: .5em;
    }


    #cathat {
        width: 55vw;
        order: 1;
        float: left;
        shape-outside: url(../media/cathatrotate.png);
        z-index: 3;
        margin-top: 200px;
        margin-left: 30px;

    }

    #purple {
        display: flex;
        flex-flow: column nowrap;
        align-self: start;
        width: 35vw;
        padding: .5em;
        padding-top: 2em;
        margin-top: -16px;
    }

    ul img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

    }

    ul li div {
        float: right;
        max-width: 400px;
    }

    ul li h3 {
        margin-top: .5em;
    }

    #navbar {
        font-size: 1.5em;
        justify-content: space-around;
    }

    #k,
    #a,
    #y,
    #c,
    #r,
    #o,
    #c2,
    #h,
    #e,
    #t,
    #s,
    #exc {
        transform: translate(0em, .3em);
        font-size: 7vw;
    }

    ul {
        display: grid;
        grid-template-areas:
            "proj1 proj2"
            "proj3 proj4";
        justify-content: center;
        grid-column-gap: 1.5em;
    }

    #project1 {
        grid-area: proj1;
    }

    #project2 {
        grid-area: proj2;
    }

    #project3 {
        grid-area: proj3;
    }

    #project4 {
        grid-area: proj4;
    }

    ul li {
        flex-direction: column;
    }

    hr {
        display: none;
    }

}

@media screen and (min-width: 900px) {
    #cathat {
        width: 45vw;
        margin-top: 150px;
    }
}




/* 1000PX SCREEN */

@media screen and (min-width: 1000px) {

    #wrapper {
        max-width: 1000px;
        grid-template-columns: 200px 200px 250px 350px
    }

    #greyyarn {
        width: 670px;
    }

    #purple {
        max-width: 350px;
    }

    #k,
    #a,
    #y,
    #c,
    #r,
    #o,
    #c2,
    #h,
    #e,
    #t,
    #s,
    #exc {
        font-size: 70px;
    }

    #cathat {
        max-width: 500px;
        margin-top: 100px;
    }

    #cathatandtext {
        max-width: 1000px;
        margin: 0 auto;

    }

    #bestyarn {
        max-width: 750px;
    }

    #navbar {
        padding-left: 6em;
        padding-right: 6em;
    }

}